{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h1>Sobre o Projeto</h1>

    <p>

        O sistema Biblioteca Virtual foi desenvolvido
        com o objetivo de auxiliar no gerenciamento
        de livros, usuários e empréstimos.

        O projeto permite cadastrar livros,
        registrar usuários,
        controlar empréstimos
        e visualizar atrasos de devolução.

        O sistema foi desenvolvido utilizando
        Django e Python,
        aplicando Programação Orientada a Objetos
        com uso de classes.

    </p>

</div>


<div class="card">

    <h2>Diagrama de Caso de Uso</h2>

    <img
        src="/static/img/caso_uso.png"
        width="700"
    >

</div>


<div class="card">

    <h2>Diagrama de Classes</h2>

    <img
        src="/static/img/diagrama_classes.png"
        width="700"
    >

</div>

{% endblock %}